@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

* {
  margin: 0;
}



body {
  background-color: #f6f6f6;
  font-family: 'Poppins', sans-serif;
}


.map_stuff {

  display: flex;
  width: 100%;
  margin-right: 0;
  padding-right: 0;

}

.tesst {
  margin: 10px;
  width: 35%;
  height: 400;

  border-radius: 12px;
}

.mp {

  width: 65%;
  margin: 10px 0px 10px 10px;
  ;
}


/* 
.footerrr {


  width: 98%;
  margin: 10px;
  height: 190px;
  border-radius: 12px;
}

 */

.events {

  text-align: center;
  padding: 10px 150px;
  border: 3px solid rgb(99, 65, 65);
  color: rgb(99, 65, 65);

  margin: 10px 300px 5px 300px;
  border-radius: 10px;
  text-align: center;
  vertical-align: middle;



}